---
import Layout from "../layouts/Layout.astro";
import HeaderButton from "../components/HeaderButton.astro";
---

<Layout title="Informacion">
	<h2 class="text-center">Informacion</h2>
	<HeaderButton href="https://github.com/ASAA19971a/PortafolioAbelAcosta"> Repositorio </HeaderButton>

	<HeaderButton href="/astro_portfolio/infoFiles/driverjs"> DriverJS </HeaderButton>

	<HeaderButton href="/astro_portfolio/infoFiles/ionicV1"> Ionic V1 </HeaderButton>

	<HeaderButton href="/astro_portfolio/infoFiles/ionicV2"> Ionic V2 </HeaderButton>

	<HeaderButton href="/astro_portfolio/infoFiles/laravel_clone"> Ionic V3 </HeaderButton>
	<HeaderButton href="/astro_portfolio/infoFiles/laravel-modules"> Laravel Modules </HeaderButton>
	<HeaderButton href="/astro_portfolio/infoFiles/vhost"> Vhost </HeaderButton>
</Layout>
