---
import Layout from "../layouts/Layout.astro";
import HeaderButton from "../components/HeaderButton.astro";
---

<Layout title="Informacion">
	<h2 class="text-center">Informacion</h2>
	<HeaderButton href="https://github.com/AbelAcostaEc/astro_portfolio"> Repositorio </HeaderButton>

	<HeaderButton href="/astro_portfolio/infoFiles/driverjs"> DriverJS </HeaderButton>

	<HeaderButton href="/astro_portfolio/infoFiles/ionic"> Ionic Org </HeaderButton>

	<HeaderButton href="/astro_portfolio/infoFiles/laravel_clone"> Laravel Clone Repository </HeaderButton>
	<HeaderButton href="/astro_portfolio/infoFiles/laravel-modules"> Laravel Modules </HeaderButton>
	<HeaderButton href="/astro_portfolio/infoFiles/vhost"> Vhost </HeaderButton>
	<HeaderButton href="/astro_portfolio/infoFiles/github"> Github </HeaderButton>
</Layout>
